---
import ThemeIcon from "../theme_icon/ThemeIcon.astro";
import styles from "./navbar.module.css";
---

<nav class={styles.navbar}>
  <div class={styles.container}>
    <div class={styles.brand}>
      <span class={styles.brandText}>b3nat</span>
    </div>
    <ul class={styles.navLinks}>
      <li><a href="/me" class={styles.navLink}>me</a></li>
      <li><a href="/projects" class={styles.navLink}>projects</a></li>
      <li><a href="/blog" class={styles.navLink}>blog</a></li>
    </ul>
    <ThemeIcon/>
  </div>
</nav>