---
import styles from "./navbar.module.css";
---

<nav class={styles.navbar}>
  <div class={styles.container}>
    <img src="/favicon.svg" alt="Logo" width="32" height="32" class={styles.logo} />
    <span class={styles.brand}>b3nat</span>
    <ul class={styles.navLinks}>
      <li><a href="/me">me</a></li>
      <li><a href="/projects">projects</a></li>
      <li><a href="/blog">blog</a></li>
      <li><a href="/contact">contact</a></li>
    </ul>
  </div>
</nav>
