---
const { title } = Astro.props;
import Navbar from '../components/navbar/Navbar.astro';
import style from './Layout.module.css';
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  </head>
  <body class={style.body}>
    <div class={style.container}>
        <Navbar />
      <main class={style.main}>
        <slot />
      </main>
      <footer class={style.footer}>
        <p>&copy; {new Date().getFullYear()} My Portfolio</p>
      </footer>
    </div>
  </body>
</html>